/* Global selector assigns a font family and some values for the margin and padding */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #d9dcd6;
}

/*Newly added header tag styled for the navigation bar and heading */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* A different color assigned to "seo" in "Horiseon" to emphasize it */
.seo {
    color: silver;
}

/*Styling for the navigation buttons on the right side of the header. Font-family here overwrites the one in global */
.navigationbuttons {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes markers of the list to give a cleaner look */
.navigationbuttons ul {
    list-style-type: none;
}

/*Horizontal display of the navigation options */
.navigationbuttons ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Selector for the links that are our navigation buttons */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*Styling for the main hero image of the website. The source path has been moved to the html file for consistency*/
.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*Left-aligned images */
.float-left {
    float: left;
    margin-right: 25px;
}

/*Right-aligned images */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Getting the benefits section to be vertical and aligned to the right */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, .benefit-brand, .benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-header {
    margin-bottom: 10px;
    text-align: center;
}

/*styling for the pictures of the right, benefit section */
.benefit-images {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Styling the description sections of our navigation option and overwriting the font set globally */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

.content-headers {
    margin-bottom: 20px;
    font-size: 36px;
}

/*New footer tag added and styled to make text centered */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
